@use "../abstract/variables" as vstyle;
    
.btn {
        color: vstyle.$secondary-color;
        padding: 0.8rem 1.5rem;
        text-decoration: vstyle.$style-less;
        border-radius: vstyle.$bord-rad;
        background-color: vstyle.$back-element-color;
        font-size: 2vh;
    }
        