header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}
header .container .logo {
  width: 10%;
}
header .container .logo img {
  width: 100%;
}
header .container .btn-header {
  background: linear-gradient(0.25turn, #054D3B, #779D29);
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 10vh auto;
  padding: 1rem 0;
}

body {
  margin: 0 auto;
  font-family: "DMSans";
  background-color: #FAF2E7;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "DMSans-bold";
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
}

.btn {
  color: white;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  border-radius: 10px;
  background-color: #054D3B;
  font-size: 2vh;
}

@font-face {
  font-family: "DMSans";
  src: url(../fonts/DM_Sans/static/DMSans-Regular.ttf);
}
@font-face {
  font-family: "DMSans-bold";
  src: url(../fonts/DM_Sans/static/DMSans-bold.ttf);
}
.presentation {
  display: flex;
  gap: 1rem;
}
.presentation .presentation-text {
  width: 50%;
}
.presentation .presentation-text h1 {
  margin: 0;
}
.presentation .presentation-text p:first-of-type {
  margin: 0;
}
.presentation .presentation-image {
  width: 50%;
}
.presentation .presentation-image img {
  width: 100%;
  box-shadow: 10px 10px 2px #054D3B;
  border-top-left-radius: 10px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}

#notremission {
  background-image: url(../img/farmer-bg.jpg);
  background-size: cover;
}
#notremission .mission {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 5vh;
  margin: 10vh 0;
  border-radius: 10px;
}
#notremission .mission .mission-text {
  width: 60%;
}
#notremission .mission .mission-text .mission-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  list-style: none;
  width: 95%;
  margin-bottom: 4vh;
}
#notremission .mission .mission-text .mission-list li {
  position: relative;
}
#notremission .mission .mission-text .mission-list li::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border: 2px solid darkgreen;
  border-radius: 50%;
}
#notremission .mission-image {
  display: flex;
  justify-content: center;
  width: 40%;
}
#notremission .mission-image img {
  width: 70%;
  border-radius: 10px;
}

#actualites .actualites-main {
  display: flex;
  flex-direction: column;
  gap: 4vh;
}
#actualites .actualites-main .actualites-top {
  display: flex;
  gap: 2vh;
}
#actualites .actualites-main .actualites-top .article-text {
  width: 50%;
  padding: 1rem;
}
#actualites .actualites-main .actualites-top .actualites-image {
  width: 50%;
}
#actualites .actualites-main .actualites-top .actualites-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
#actualites .actualites-bottom {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
#actualites a {
  color: rgb(196, 127, 0);
}

.galerie-all {
  display: grid;
  grid-auto-rows: 200px;
  gap: 1vh;
}
.galerie-all * {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.galerie-all .galerie-image1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}
.galerie-all .galerie-image1 img {
  object-fit: cover;
}
.galerie-all .galerie-image2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
.galerie-all .galerie-image2 img {
  object-fit: cover;
}
.galerie-all .galerie-image3 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.galerie-all .galerie-image3 img {
  object-fit: cover;
}
.galerie-all .galerie-image4 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}
.galerie-all .galerie-image4 img {
  object-fit: cover;
}
.galerie-all .galerie-image5 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}
.galerie-all .galerie-image5 img {
  object-fit: cover;
}
.galerie-all .galerie-image6 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}
.galerie-all .galerie-image6 img {
  object-fit: cover;
}

#videos h2 {
  text-align: end;
}
#videos .video {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2vh;
  position: relative;
  flex-wrap: wrap;
}
.button-video {
  display: flex;
  text-align: center;
}
.button-video .btn-video {
  background-color: rgb(196, 127, 0);
  margin: 4vh auto;
}

#donation {
  background-color: #799E29;
}
#donation .donations {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#donation .donations .donation-text {
  color: white;
}
#donation .donations .btn-donation {
  color: #054D3B;
  background-color: white;
}

#organismes .organisme-support {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#organismes .organisme-support .organisme-image {
  width: 20%;
}
#organismes .organisme-support .organisme-image img {
  width: 100%;
}

.card-item {
  background-color: white;
  width: 26%;
  padding: 0 3vh;
}
.card-item h3 {
  border-bottom: 1px solid rgb(201, 199, 199);
  padding: 1rem 0;
}

.article {
  background-color: white;
  width: 30%;
  position: relative;
  border-radius: 10px;
}
.article .article-image {
  padding: 0.8rem;
  height: 20vh;
}
.article .article-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.article .article-text {
  padding: 1rem;
}
.article .article-text h4 {
  border: 1px solid #FAF2E7;
  text-transform: uppercase;
}
.article.article-text {
  padding: 1rem;
}
.article.article-text h4 {
  border: 1px solid #FAF2E7;
  text-transform: uppercase;
}

.video-container iframe {
  width: 380px;
  height: 213.75px;
  border-radius: 10px;
}

footer {
  background-color: #054D3B;
}
footer .container {
  margin-bottom: 0;
}
footer .container .footer-top {
  display: flex;
  justify-content: space-between;
}
footer .container .footer-top .footer-text,
footer .container .footer-top .map {
  display: flex;
  width: 22%;
  flex-direction: column;
}
footer .container .footer-top .footer-text h3,
footer .container .footer-top .map h3 {
  color: white;
  text-decoration: underline;
  margin-bottom: 0;
}
footer .container .footer-top .footer-text p,
footer .container .footer-top .map p {
  color: white;
}
footer .container .footer-top .footer-text ul,
footer .container .footer-top .map ul {
  padding: 0;
}
footer .container .footer-top .footer-text ul li,
footer .container .footer-top .map ul li {
  list-style: none;
}
footer .container .footer-top .footer-text ul li a,
footer .container .footer-top .map ul li a {
  text-decoration: none;
  color: white;
}
footer .container p {
  color: white;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    margin: 1vh auto;
  }
  header .container {
    flex-direction: column;
  }
  header .container .logo {
    width: 20%;
  }
  .presentation {
    flex-direction: column;
    align-items: center;
  }
  .presentation .presentation-text {
    width: inherit;
  }
  .presentation .presentation-image {
    width: inherit;
  }
  .card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card .card-item {
    width: 80%;
  }
  #notremission .card-item {
    width: 100%;
  }
  #notremission .mission {
    flex-direction: column-reverse;
    padding: 5vh 0 5vh 0;
  }
  #notremission .mission .mission-text {
    width: 90%;
  }
  #notremission .mission .mission-text .mission-list {
    padding-left: 1rem;
  }
  #notremission .mission-image {
    width: inherit;
  }
  #actualites .actualites-main {
    gap: inherit;
  }
  #actualites .actualites-main .actualites-top {
    flex-direction: column;
    gap: inherit;
  }
  #actualites .actualites-main .actualites-top .actualites-image {
    width: 100%;
  }
  #actualites .actualites-main .actualites-top .actualites-image img {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  #actualites .actualites-main .actualites-top .article-responsive {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -2vh;
    padding-top: inherit;
  }
  #actualites .actualites-main .actualites-top .article {
    width: inherit;
  }
  #actualites .actualites-main .actualites-top:first-of-type {
    margin-bottom: 4vh;
  }
  #actualites .actualites-main .actualites-bottom {
    flex-direction: column;
    gap: 1vh;
  }
  #actualites .actualites-main .actualites-bottom .article {
    width: inherit;
  }
  #galerie .galerie-all {
    display: flex;
    flex-direction: column;
  }
  #galerie .galerie-all * {
    width: 100%;
    height: 10vh;
  }
  #videos .video {
    align-items: center;
    flex-direction: column;
    gap: 2vh;
  }
  #videos .video .video-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #videos .video .video-container iframe {
    width: 100vw;
    height: 56.25vw;
  }
  #donation .donations {
    flex-direction: column;
    padding-bottom: 2vh;
    text-align: center;
  }
  #organismes .organisme-support {
    flex-direction: column;
  }
  #organismes .organisme-support .organisme-image {
    width: 100%;
  }
  footer .container .footer-top {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  footer .container .footer-top .footer-text {
    width: inherit;
  }
  footer .container .footer-top .map {
    width: inherit;
  }
}

/*# sourceMappingURL=style.css.map */
