// COLOR SYSTEM
$primary-color: black;
$secondary-color:white;
$back-element-color: #054D3B;
$background-color: #FAF2E7;
$article-color: rgb(196, 127, 0);
// UTILITIES
$style-less: none;
$bord-rad: 10px;
// TYPOGRAPHY
$primary-font: "DMSans";
$secondary-font: sans-serif;
$title-font: "DMSans-bold";
